<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.datang.miou"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".MiouApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="XQDcDFGGnZeNMp2KaqEzyuIa" />

        <activity
            android:name=".views.StartActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.gen.GenActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity"></meta-data>
        </activity>
        <activity android:name=".views.gen.ScriptSettingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.gen.GenActivity"></meta-data>
        </activity>
        <activity android:name=".views.gen.SignalDetailActivity"></activity>

        <activity
            android:name=".views.data.DataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tab"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity"></meta-data>
        </activity>

        <activity
            android:name=".views.percept.PerceptionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity"></meta-data>
        </activity>
        <activity android:name=".widget.FileBrowserActivity" />
        <activity android:name=".views.data.NewPlanListActivity" />
        <activity android:name=".views.percept.web.WebActivity" />
        <activity android:name=".views.percept.video.VideoActivity" />
        <activity android:name=".views.percept.test.TestActivity" />
        <activity android:name=".views.percept.voice.VoiceActivity" />
        <activity android:name=".views.percept.connect.ConnectActivity" />
    </application>

</manifest>
